<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="  ext-strict" xmlns="http://www.w3.org/1999/xhtml">
<!-- InstanceBegin template="/Templates/TopModel.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
	<title>互动教学备课平台</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<link rel="stylesheet" type="text/css" href="../Ext/resources/css/ext-all.css">
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="stylesheet" type="text/css" href="../css/public.css">
	<link rel="stylesheet" type="text/css" href="../css/action.css">
	<link rel="stylesheet" type="text/css" href="../css/fileuploadfield.css">
	<link rel="stylesheet" type="text/css" href="../css/thickbox.css">
	<link rel="stylesheet" type="text/css" href="../css/custom.css">
	<style type="text/css">
		#immediate-help-trigger {
		    bottom: 70%;
		    cursor: pointer;
		    position: fixed;   
		    right: 0;
		    z-index: 10001;
		}
		#immediate-help-trigger a {
		    background: url("http://img03.taobaocdn.com/tps/i3/T1r7qeXiVqXXXXXXXX-46-120.gif") no-repeat scroll 0 0 transparent;
		    display: block;
		    height: 120px;
		    width: 46px;
		}
		body #immediate-help-trigger a {
		}
		#immediate-help-trigger a:hover {
		    background: url("http://img02.taobaocdn.com/tps/i2/T1rQqeXiVqXXXXXXXX-46-120.gif") no-repeat scroll 0 0 transparent;
		    border: medium none;
		    cursor: pointer;
		}
		body #immediate-help-trigger a:hover {
		}
		#immediate-help-trigger a:focus {
		    outline: medium none;
		}
		#immediate-help-trigger {
		}
	 </style>
	<script language="javascript" type="text/javascript" src="../scripts/jquery.js"></script>
	<script type="text/javascript" src="../Ext/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="../Ext/ext-all-debug.js"></script>
	<script type="text/javascript" src="../Ext/ext-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../scripts/globals.js"></script>
	<script type="text/javascript" src="../scripts/coms.js"></script>
	<script type="text/javascript" src="../scripts/run.js"></script>
	<script type="text/javascript" src="../scripts/FileUploadField.js"></script>
	<script language="javascript" type="text/javascript" src="../scripts/thickbox-compressed.js"></script>
	<script language="javascript" type="text/javascript" src="../scripts/usrmsg.js"></script>
	<script language="javascript" type="text/javascript" src="../scripts/dynamicload.js"></script>
	<script language="javascript" type="text/javascript" src="../scripts/updateInfo.js"></script>    
	<link href="../css/action.css" type="text/css" rel="stylesheet">
	<link href="../css/MultiSelect.css" type="text/css" rel="stylesheet">
	<link href="../css/ext-extend.css" type="text/css" rel="stylesheet">
</head>
<body class="ext-gecko ext-gecko3" id="page_home">
<div class="wrap1">
	<div class="warp2">
[@edu.Include name='head.html' solution='default'/] 
    <!--page of middle-->
        <div class="cont-layout">
    	    <div class="top"></div>
            <div id="container">
                <div class="side-bg">
                    <div class="top"></div>
                    <div style="height: 540px;" class="sidebar">
        	            <ul class="twobar" id="suborder">
        		            <li class="first">
        			            <div class="em-icon02">用户信息</div>
                                <ul class="threebar">
                                    <li>
                                        <a class="checked" id="user01" href="#">
                                            <div class="em-icon04">帐户中心</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="user02" href="#">
                                            <div class="em-icon04">我的学校</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="user03" href="#">
                                            <div class="em-icon04">我的班级</div>
                                        </a>
                                    </li>                                    
                                </ul>
                            </li>                           
                        </ul>
        			</div>
        		    <div class="btm"></div>
        		</div>			
                <div id="maindiv" style="float: left; width: 770px; display: inline; height: 100%; margin-left: 5px;">
        	        <div style="overflow: hidden;">
   			            <div class="mainbody">
    		                <div class="adress">当前位置：课程计划 &gt;我的课表 </div>
    		            </div>
    		        </div>
                </div>
        </div>
         <div class="btm"></div>
	</div>
	[@edu.Include name='foot.html' solution='default'/] 
</div>
</body><!-- InstanceEnd --></html>